body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #2e2e2e;
}

.chess-board {
	display: grid;
	grid-template-columns: repeat(8, 60px);
	grid-template-rows: repeat(8, 60px);
	gap: 0;
	border: 2px solid #000;
}

.cell {
	width: 60px;
	height: 60px;
	position: relative;
}

.cell img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: relative;
	z-index: 2;
	/* img over overlay */
}

.cell .overlayYellow {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	/* transparent yellow */
	background-color: rgba(255, 255, 0, 0.5);
	/* Hidden by default*/
	display: none;
	pointer-events: none;
	z-index: 1;
}

.cell .overlayRed {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	/* transparent red */
	background-color: rgba(255, 0, 0, 0.7);
	pointer-events: none;
	z-index: 1;
}

.lastMoveMark {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* transparent orange */
	background-color: rgba(255, 165, 0, 0.3);
	z-index: 0;
}


.white {
	background-color: #eeeed5;
}

.black {
	background-color: #7d945d;
}

.circle {
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: rgba(75, 75, 75, 0.8);
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}


.promotion-menu {
    display: flex;
    gap: 10px;
    padding: 10px;
    background: white;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index: 100;
}

.promotion-menu button {
    border: none;
    background: none;
    cursor: pointer;
}

.promotion-img {
    width: 50px;
    height: 50px;
}
